/* 


.menu-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.menu-item {
  padding: 10px 20px;
  border: 1px solid;
  border-color: #fff;
  border-radius: 2rem;
  cursor: pointer;
}

.menu-item.active {
  border: none;
  border-bottom: 3px solid;
  border-radius: 0px;
  border-color: #6f38fc;
}

.menu-item:hover {
  border: none;
  border-bottom: 3px solid;
  border-radius: 0px;
  border-color: #a33875;
}

.description {
  display: none;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.description.active {
  display: block;
  opacity: 1;
}

.three-images-gallery img {
  max-width: 100%;
  height: auto;
}

.three-menu-container {
  width: 100%;
  height: auto;
} */