.video {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}
.video::-webkit-media-controls {
    display: none !important;
}

.video::-webkit-media-controls-enclosure {
    display: none !important;
}

.video::-webkit-media-controls-panel {
    display: none !important;
}